<div class="inventory-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="boats-sidebar">
                    <h3>Boat Filters</h3>
                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Condition</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            <label>
                                <input type="checkbox" id="condition-all" value="all"
                                    onclick="handleConditionClick(event)">
                                All
                            </label>
                            {{#each condition}}
                            <label>
                                <input type="checkbox" class="condition-item" value="{{this}}"
                                    onclick="handleConditionClick(event)">
                                {{this}}
                            </label>
                            {{/each}}

                        </div>
                    </div>

                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Brand</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            {{#each brands}}
                            <label>
                                <input type="checkbox" class="brand-item" value="{{this}}"
                                    onclick="handleBrandClick(event)"> {{this}}
                            </label>
                            {{/each}}

                        </div>
                    </div>

                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Models</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            {{#each models}}
                            <label>
                                <input type="checkbox" class="model-item" value="{{this}}"
                                    onclick="handleModelClick(event)"> {{this}}
                            </label>
                            {{/each}}

                        </div>
                    </div>

                    <div class="filter-condition mb-3">
                        <div class="filter-title">
                            <h4>Length</h4>
                            <span class="fa fa-plus"></span>
                        </div>

                        <div class="filter-content-wrapper">
                            <div class="filter-range">
                                <div class="range-slide-prices">
                                    <span id="minVal" data-minlength="{{minLength}}">{{minLength}}</span>
                                    <span id="maxVal" data-maxlength="{{maxLength}}">{{maxLength}}</span>
                                </div>
                                <div id="rangeSlider"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="row" id="boat-listings">
                    {{#each boats}}

                    {{> boat-card}}

                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>